/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font family */
body {
  font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navigation styles */
nav {
  background-color: #f5f5f5;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

/* Section styles */
section {
  padding: 20px;
  text-align: center;
}

/* Banner styles */
.banner {
  position: relative;
  margin-top: 50px;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.banner h1 {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 60px;
  color: #fff;
}

.banner p {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 35%;
  color: #fff;
  font-size: 22px;
}

/* second section of the home page  */
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  -webkit-box-shadow: 1px 1px 5px 1px #646464; 
      box-shadow: 1px 1px 5px 1px #646464;
}
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  -webkit-box-shadow: 1px 1px 5px 1px #646464; 
  box-shadow: 1px 1px 5px 1px #646464;
  border-radius: 2px;
}
h1{
  margin-top: 10px;
  font-size: 36px;
  font-weight: 600;

}
p{
  color:#777;
  font-weight:300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
/* cta button */
.cta-button {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.cta-button a {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cta-button a:hover {
  background-color: #0056b3
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


